@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
.title{
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
}
#header{
    background-image: url('../Assets/waves2.svg');
    background-size: cover;
    background-repeat: no-repeat;
}