.title{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
/* #header{
    background: linear-gradient(to left, #a7f0ba 50%, #a7f0ba00 50%);
    border-radius: 0px 0px 10px 20px;
} */